img {
  height: 40px;
}
nav.navbar {
  justify-content: space-around !important;
  background-color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.logo p {
  margin-bottom: 0rem;
}

.help-center {
  height: 40vh;
  background-color: #DADBF0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-content {
  width: 500px;
}
input.form-control {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}
button.btn.btn-light {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
.footer-bg {
  background-color: black;
  color: white;
  padding: 15px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.blockquote {

  font-size: medium !important;
  color: #696A6A !important;
}